.footer {
  background-color: #000;
  color: #fff;
  padding: 40px 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-section {
  flex: 1;
}

.footer-section h3 {
  font-size: 18px;
  margin-bottom: 20px;
}

.footer-section ul {
  list-style: none;
  padding: 0;

  
  }
.footer-section a{
  text-decoration: none;
  color: #fff;
}

.footer-section li {
  margin-bottom: 20px;
  color: blanchedalmond;
  background-color: none;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
}